*{
    box-sizing: border-box;
}
body{
    background-color: rgb(212, 212, 212);
    width: 40%;
}

#val{
    width: 50%;   
    float: left;
}


#val2{
width: 50%;
float: right;
}


footer{
    background-color: rgb(0, 84, 253);
    color: white;
    height: 10%;
}